.spanPageNumStyle {
	width: 25px;
	height: 19px;
	border: 1px solid #e7ecf0;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
}
.spanPageNumStyle,a:link{
	color:blue;
	text-decoration:none;
}
.spanPageStyle {
	min-width: 25px;
	height: 19px;
	border: 1px solid #e7ecf0;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
}
.spanPageStyle,a:link{
	text-decoration:none;
}
.spanPageNumSelectedStyle{
	width: 25px;
	height: 19px;
	border: 1px solid #e7ecf0;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
}