/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}
ul{	
	list-style-type:none;	
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------main--------------------*/

/*------------------------------------------------top--------------------*/
#topmain{	
	background:url(../image/n_head.png) 0 bottom repeat-x;
	height:63px;
	padding:0px 0 0 0;
	border:0px solid #00f;
}

#head{	
	margin:0 auto;
	height:25px;
	border-bottom:0px dashed #ccc;	
}

#headbody{
	width:1258px;
	margin:0 auto;
	height:30px;	
}
#head img.logo{
	display:block;
	font-size:0;
	line-height:0;
	padding:0px 0 0 0;
	float:left;	
	margin:0px;
	border:0px solid #0f0;
}
#head p.topTxt{
	display:block;
	width:400px;
	font-size:12px;
	line-height:15px;
	color:#D4F5FF;
	background-color:inherit;
	float:right;
	padding:5px 0px 5px 0px;
	border:0px solid #fff;
	width:400px;
	text-align:right;	
}

#top{
	width:1200px;
	margin:0 auto;	
	height:30px;
	border:0px solid #00f;
}
#top ul.nav{
	width:1180px;
	height:25px;
	padding:0px 0 0 30px;
	float:left;	
	border:0x solid #0f0;
}
#top ul.nav li{
	float:left;
	margin:0 3px 0 0;
	font-size:0;
	line-height:0;
}
#top ul.nav li.noMargin{margin:0;}
#top ul.nav li a{display:block;	width:82px;	height:20px;font:14px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold;color:#333; background-color:inherit;	text-decoration:none;text-align:center;}
#top ul.nav li a:hover{ background:url(../image/nh_current.png) bottom center no-repeat; color:#ff7e07;	background-color:inherit; }

#top ul.nav li .m1_active {
	background:url(../image/nh_current.png) bottom center no-repeat;
	color:#f50;
}

#top ul.sub{
	width:892px;
	height:29px;
	padding:0 0 0 65px;
	float:left;
}
#top ul.sub li{
	float:left;	
	padding:0 2px 0 0;
}
#top ul.sub li.noImg{
	background-image:none;
}
#top ul.sub li a{
	padding:0 14px;
	font:normal 11px/29px  "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#1F2123;
	background-color:inherit;
	text-decoration:none;
}
#top ul.sub li a:hover{
	color:#B70D0D;
	background-color:inherit;
}
/*------------------------------------------------top--------------------*/

/*------------------------------------------------body--------------------*/
#bodyMain{
	width:100%;
	background:url(../image/mbg.jpg) 0 0 repeat-x #fff;
	color:#000;
	padding:0px 0 0px 0;
	border:0px solid #00f;
}
#body{
	width:1258px;
	margin:0 auto;
	height:530px;
	background-attachment: scroll;
	background-image: url(../image/innerbg.gif);
	background-repeat: repeat-y;
	background-position: -23px;
	border:0px solid #f00;
}
/*------------------------------------------------left--------------------*/
#left{
	width:140px;
	float:left;
}
#left h2{
	font-size:14px; color:#000; display:block; border-bottom:1px #f50 solid;  padding:16px 0 6px 0;
}
#left h2 span{
	background:url(../image/arrow.gif) 0 3px no-repeat;
	padding:0 0 0 16px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	background-color:inherit;
}
#left ul{
	width:140px;
}
#left ul li{
	font-size:12px; line-height:28px;padding:0 0 0 0px;
}
#left ul li a{
	display:block;height:28px; color:#5c5c5c; text-decoration:none;border-bottom:1px #d6d6d6 solid;padding-left:10px;
}
#left ul li a span.bg{
	background-color:#F3F3DD;
	color:#000;
	width:15px;
	height:15px;
	font:normal 10px/15px Tahoma, Arial, Helvetica, sans-serif;
	text-align:center;
	float:right;
	margin:4px 0 0 0;
}
#left ul li a span.nor{
	color:#000;
	background-color:inherit;
	font:normal 10px/15px Tahoma, Arial, Helvetica, sans-serif;
	float:right;
	margin:4px 0 0 4px;
}
#left ul li a:hover{
	color:#2F2F20;
	background:#C6C6A5 url(../image/li_bg.gif) right 0 no-repeat;
}

#left ul li .m2_active{
	background:#C6C6A5 url(../image/li_bg.gif) right 0 no-repeat;
}

#left ul li a:hover span.bg{
	color:#2F2F20;
	background-color:#C6C6A5;
}
#left ul li a:hover span.nor{
	color:#2F2F20;
	background-color:#C6C6A5;
}
#left form{
	width:210px;
	padding:5px 15px 41px 15px;
	background-color:#D2D2B4;
	color:#000;
}
#left form label{
	display:block;
	font:bold 11px/23px Arial, Helvetica, sans-serif;
	float:left;
}
#left form input.txtBox{
	width:208px;
	height:19px;
	background-color:#fff;
	color:#000;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-left:#808080 solid 1px;
	border-top:#808080 solid 1px;
	float:left;
}
#left form a{
	display:block;
	font:bold 11px/21px Arial, Helvetica, sans-serif;
	float:left;
	color:#945E02;
	background-color:inherit;
	text-decoration:none;
	margin:4px 0 0 0;
}
#left form a:hover{
	text-decoration:underline;
}
#left input.login{
	background:url(../image/btn_login.gif) 0 0 no-repeat;
	width:66px;
	height:21px;
	float:right;
	font:bold 11px/21px Arial, Helvetica, sans-serif;
	color:#F2F2E2;
	background-color:#D2D2B4;
	border:none;
	cursor:pointer;
	margin:4px 0 0 0;
}
/*------------------------------------------------left--------------------*/

/*------------------------------------------------right--------------------*/
#right{
	width:1115px;
	float:right;
	padding:0px;
	border:0px solid #ddd;
}
#right h3{
	display:block;
	height:30px;
	border-bottom:#C5C5A8 solid 1px;
	font:bold 28px/25px Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:inherit;
	margin:0;
}
#right h4{
	display:block;
	font:bold 17px/46px Arial, Helvetica, sans-serif;
	color:#6B1420;
	background-color:inherit;
	margin:0;
}
#right p.rightTxt1{
	display:block;
	font:bold 16px/23px Arial, Helvetica, sans-serif;
	color:#B3770F;
	background-color:inherit;
	margin:0 0 18px 0;
}
#right p.rightTxt1 span{
	font:normal 13px/23px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:inherit;
}
#right p.rightTxt2{
	display:block;
	font:normal 13px/19px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:inherit;
	margin:0 0 28px 0;
}
#right p.rightTxt2 span{
	color:#000;
	background-color:#F4F4E3;
}

/*------------------------------------------------right--------------------*/

/*------------------------------------------------body--------------------*/

/*------------------------------------------------footer--------------------*/
#footerMain{
	width:100%;
	height:40px;
	background:url(../image/footer_bg.gif) 0 0 repeat-x;
}
#footer{
	width:1058px;
	margin:0 auto;
	position:relative;
	height:40px;
}
#footer ul{
	width:712px;
	position:absolute;
	left:150px;
	top:12px;
	border:0px solid #0f0;
}
#footer ul li{
	float:left;
	font:normal 11px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
}
#footer ul li a{
	padding:0 10px;
	font:normal 11px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#footer ul li a:hover{
	text-decoration:underline;
}
#footer p.copyright{
	font:normal 11px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	position:absolute;
	left:661px;
	top:12px;
	width:230px;
	color:#FEDC3B;
	background-color:inherit;
}
#footer p.design{
	display:block;
	width:245px;
	height:18px;
	padding:0;
	position:absolute;
	left:261px;
	top:58px;
	font:bold 17px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#F5F5C7;
	background-color:inherit;
}
#footer p.design a.link{
	font:bold 17px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#F5F5C7;
	background-color:inherit;
	text-decoration:none;
	padding:2px;
}
#footer p.design a.link:hover{
	color:#fff;
	background-color:#000;
}
#footer a.xhtml{
	display:block;
	background:url(../image/xhtml_bg.gif) 0 0 no-repeat;
	width:66px;
	height:21px;
	position:absolute;
	left:0;
	top:13px;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
	color:#B70D0D;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
}
#footer a.xhtml:hover{
	color:#000;
	background-color:inherit;
}
#footer a.css{
	display:block;
	background:url(../image/xhtml_bg.gif) 0 0 no-repeat;
	width:66px;
	height:21px;
	position:absolute;
	left:72px;
	top:13px;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
	color:#B70D0D;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
}
#footer a.css:hover{
	color:#000;
	background-color:inherit;
}
/*------------------------------------------------footer--------------------*/




/*------------------------------------------------Contact--------------------*/

.linkpopup {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #666600;
	height: 18px;
	width: 250px;
}

.linkpopup span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopup:link span,
.linkpopup:visited span {
 visibility: hidden;
}

.linkpopup:hover span,
.linkpopup:focus span,
.linkpopup:active span {
	color: #000000;
	text-decoration: none;
	visibility: visible;
	border: 1px solid #000000;
	background-color: #E6E9CF;
}
.linkpopupmessagebox {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 170px;
	width: 310px;
}

.linkpopupmessagebox span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupmessagebox:link span,
.linkpopupmessagebox:visited span {
 visibility: hidden;
}

.linkpopupmessagebox:hover span,
.linkpopupmessagebox:focus span,
.linkpopupmessagebox:active span {
 color: #000;
 text-decoration: none;
 visibility: visible;
}
/*------------------------------------------------Email--------------------*/

.linkpopupemail {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 18px;
	width: 200px;
}

.linkpopupemail span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupemail:link span,
.linkpopupemail:visited span {
 visibility: hidden;
}

.linkpopupemail:hover span,
.linkpopupemail:focus span,
.linkpopupemail:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
/*------------------------------------------------Email--------------------*/
.contactTxt{
	display:block;
	width:600px;
	font-size:12px;
	line-height:20px;
	font-weight:normal;
	color:#646464;
	background-color:#FFF9E5;
	color:#5A5A5A;
	border:#D6CEB3 solid 1px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}
.errortext {
	font-family: Verdana;
	font-size: 10px;
	color: #FF0000;
}

.contactMain{
	width:620px;
	float:left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #929F4B;
	background-color: #EBE9D7;
	height: 500px;
	padding-right: 0px;
	padding-left: 30px;
}
..bestcontactTxt2{
	width:100%;
	padding:0 0 20px 0;
	font:normal 15px/23px Arial, Helvetica, sans-serif;
	color:#363636;
	background-color:#fff;
	display:block;
	float:left;
}.contactformsubmit {

	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 50%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	position:absolute;
	left:119px;
}
/*------------------------------------------------Contact--------------------*/
.contactformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 70%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.contactsubmit {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	background-attachment: scroll;
	background-image: url(../image/submitbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	clip: rect(auto,auto,auto,auto);
	float: left;
	margin: 5px;
	padding: 5px;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: 500px;
	border: 1px solid #666600;
}

.contactformmessage {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 70%;
	float: left;
	margin: 3px;
	padding: 3px;
}
.contactbox {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 18px;
}
.contactmessagebox {

	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 170px;
}
.contacttextarea {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 3px;
	padding: 3px;
}
.contacttext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.contactsubmitbutton {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	background-attachment: fixed;
	background-image: url(../image/btn_login.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 55px;
}

.contacttextleft {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	float: left;
	width: 540px;
}
.contactindicatestext {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 3px;
	padding: 3px;
	height: 20px;
	width: 550px;
	float: left;
}

.star {
	font-family: Verdana;
	font-size: 11px;
	color: #FF0000;
	margin: 3px;
	padding: 3px;
	height: 5px;
	width: 5px;
}


.contacterrortext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 10px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.buttonbg {
	background-attachment: scroll;
	background-image: url(../image/buttonbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #FF9900;
	height: 21px;
	font-family: Verdana;
	color: #FFFFFF;
}

/*------------------------------------------------Contact--------------------*/
.submitbutton
 {
	font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	background-attachment: scroll;
	background-image: url(../image/read_more_bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	clip: rect(auto,auto,auto,auto);
	float: left;
	margin: 5px;
	padding: 5px;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: 50px;
}
.submittext {
	height: 30px;
	width: 550px;
}

#submitbutton a.more{
	background:url(../image/more_bg.gif) 0 0 no-repeat;
	float:right;
	width:57px;
	height:18px;
	font:bold 11px/18px Arial, Helvetica, sans-serif;
	color:#1C0206;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	margin:0;
}
#submitbutton a.more:hover{
	color:#6B1420;
	background-color:inherit;
}
.subbtn {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	background-attachment: scroll;
	background-image: url(../image/submitbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #E6E9CF;
	margin: 2px;
	padding: 2px;
	height: 25px;
}
/*------------------------------------------------Textboxon Email--------------------*/

.borderEffect
{
background-color:#FFFFCC;
color:#7A8639;
margin:0px;
padding:0px;
border:1px solid #FFCC00;
}
.borderEffect:hover
{
background-color:#FFCC89;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #A05A3D;
}
/*------------------------------------------------Textbox on Email--------------------*/
/*------------------------------------------------Textbox --------------------*/

.textboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 18px;
	width: 250px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.textboxEffect:hover
{
background-color:#FFFFFF;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textbox --------------------*/
/*------------------------------------------------Textboxdropdown --------------------*/

.dropdownEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 18px;
	width: 262px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.dropdownEffect:hover
{
background-color:#FFFFFF;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textboxdropdown --------------------*/
/*------------------------------------------------Massagebox --------------------*/

.MassageboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 170px;
	width: 350px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.MassageboxEffect:hover
{
background-color:#FFFFFF;
color:#929F4B;
margin:0px;
padding:0px;
border:1px solid #7A8639;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Massagebox --------------------*/
.contactdropdownformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 68%;
	float: left;
	margin: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.submitbuttonarea {
	margin: 5px;
	float: left;
	height: 50px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 110px;
}